body{
  background: url('img/x.jpg');
  max-width: 900px;
}


*{
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Code', monospace;
}

header{
  text-align: center;
  margin: 15px;
}

a{
  color: #fff;
}

.photo{
  height: 200px;
  width: 350px;
  border-radius: 50%;
  border: 4px solid #505050;
}

#subtitle{
  color: #FFF;
}

#title{
  color: white;
  font-size: 40px;
  text-transform: uppercase;
  margin: 7.5px;
}

/* main content */

section > header{
  color: #505050;
  margin: 15px 0 7.5srem 0;
}

.post_title{
  font-size: 20px;
  font-style: italic;
  margin-bottom: 15px;
}

.post{
  /* box model */
  background: #FFF;
  padding: 10px;
  margin: 10px;
  margin-bottom: 15px;
  border: 3px solid #505050;
  border-radius: 15px;
  text-align: center;
}

.post-image{
  width: 40%;
  height: 450px;
}

.post_content, .post_content a{
  color: black;
  margin-bottom: 15px;
  text-align: justify;
  text-transform: capitalize;
}

.post_content>legend{
  text-align: center;
  font-weight: bold;
}

/* footer */

.contacts_list{
list-style-type: '\1F44D';
padding-left: 15px;

}

.contacts_list li a{
  text-decoration: none;
}