.default-text, .default-text:hover, .default-text:visited, .default-text:active, .default-text:link{
	/*text-decoration: none;*/
	color: black;
}

body{
	background: #CCCC99;
	
}

header{
	text-align: center;
	font-size: 1.5rem;
}
