* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: purple;
  padding: 1em;
}

h1, h2{
  color: white;
}

p {
  color: fuchsia;
  font-weight: bold;
}

ul {
  background-color: silver;
  padding-left: 2em;
  margin-top: 1em;
}

img{
  width: 700px;
}